*{
    margin: 0;
    padding: 0;
}



/* grid card  section start*/
#music{
    max-width: 1600px;
    background-color: #1A0B2E;
    margin: 0 auto;
    padding-top: 1px;
}
.music-text{
    text-align: center;
    margin-top: 120px;
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
}
.music-container-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    gap: 30px;
}
.music-card-1{
    grid-row: span 2;
    background-color: #351165;
    border-radius: 30px;
    padding:  30px;
}
.music-card-2{
    grid-column: span 2;
    background-color: #351165;
    border-radius: 30px;
    padding:  30px;
}
.music-card-3{
    grid-column: span 2;
    background-color: #351165;
    border-radius: 30px;
    padding:  30px;
}
.music-card-4{
    grid-column: span 2;
    background-color: #351165;
    border-radius: 30px;
    padding:  30px;
}
.music-card-5{
    background-color: #351165;
    border-radius: 30px;
    padding:  30px;
}
.music-card-1 img{
    margin-top: 90px;
}
.music-card-1 h4, .music-card-2 h4, .music-card-3 h4, .music-card-4 h4, .music-card-5 h4 {
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5rem;
    margin: 16px 0;
}
.music-card-1 p, .music-card-2 p, .music-card-3 p, .music-card-4 p, .music-card-5 p{
    color: rgba(255, 255, 255, 0.86);
    line-height: 24px;
}

/* music card hover effect */
.music-card-1:hover, .music-card-2:hover, .music-card-3:hover, .music-card-4:hover, .music-card-5:hover{
    background-color:#471c80 ;
    cursor: pointer;
}
/* grid card end*/



/* .............................................................................. */
 /* content section start */

 #content{
    max-width: 1600px;
    height: 1276px;
    background-color: #1A0B2E;
    margin: 0 auto;
    padding-top: 1px;
}
.content-container{
    max-width: 1200px;
    margin: 0 auto;
}
.content-head{
    margin-top: 120px;
}
.content-head h4{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}
.main-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}
.content-card{
    background-color: #250D44;
    border-radius: 10px;
    padding: 10px;
}
.content-card iframe{
    border-radius: 8px;
}
.content-card h5{
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 20px;
}
.content-first-text{
    color: rgba(255, 255, 255, 0.86);
    line-height: 24px;
    margin-top: 12px;
    padding: 3px;
}
.you-tube-min{
    color: #00FF88;
    margin-top: 14px;
    margin-bottom: 14px;
}
.content-text{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
}
.content-text h4{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 40px;
}
.content-host{
    display:flex ;
    background-color: #351165;
    border-radius: 10px;
}
.host-image{
    padding: 40px;
}
.host-info{
    margin: auto 0;
}
.host-info h5{
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
}
.host-info p{
    color: rgba(255, 255, 255, 0.86);
    line-height: 24px;
    margin-bottom: 16px;
}
.host-content-image{
    display: flex;
    height:40px;
    width: 40px;
     gap: 10px;
}
/* content card mouse hover */
.content-card:hover{
    cursor: pointer;
    background-color: #2f194c;
}
/* content end */



/* ............................................................................................... */
/* footer section  */

footer{
    max-width: 1600px;
    min-height: 412px;
    margin: 0 auto;
    background-image: url(../image/footer-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.footer-container{
    text-align: center;
}
.footer-icon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 32px;
    margin-left: 70px;
    gap: 25px;
}

.footer-icon-container-2{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 32px;
}
.footer-icon-container-2 p{
    color: rgba(255, 255, 255, 0.86);
    
}
.footer-end p{
    color: rgba(255, 255, 255, 0.86);  
    
}

/* footer icon mouse hover cursor pointer */
.footer-icon:hover{
    cursor: pointer;
}
/* ................................................................................... */


