*{
    margin: 0;
    padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}

/* start nav bar  */

#head{
    background-color: #1A0B2E;
    max-width: 1600px;
    height: 92px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu-ber{
    display: none;
}
.header-nav ul{
    display: flex;
    color: #ffffff;
    gap: 32px;
}
.header-nav ul li{
    list-style: none;
    
}
.header-nav ul li a{
    text-decoration: none;
    color:#ffffff ;
}

/* About episode host button hover effect */

.header-nav ul li a:hover{
    cursor: pointer;
    font-size: 1.3rem;
    color: rgb(9, 232, 117);
    font-weight: bold;
}

.btn{
    display: flex;
    width: 135px;
    height: 44px;
    align-items: center;
    gap: 5px;
    padding: 7px 12px;
    border-radius: 10px;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8 );
    font-weight: 600;
    color: #ffffff;
}
/* Subscribe button hover  effect */
.btn:hover{
    background: linear-gradient(to right, #9100F8, #F7E93F, #FB09B4) ;
    cursor: pointer;
    height: 50px;
    font-weight: bolder;
    font-size: 1.2rem;
}

/* nav ber  end */







/* ...................................................................................... */
/* hero section start */

#hero{
    max-width: 1600px;
    min-height: 760px;
    margin: 0 auto;
    background-image: url(../image/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.microphone{
    background-image: url(../image/hero-circle.png);
    transform: rotate(360deg) ;
    transition: transform 25s;
    height: 350px;
    width: 350px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.microphone:hover{
    transform: rotate(-360deg) ;
    transition: transform 25s;
}
.new{
    position: absolute;
    margin-right: -250px;
    margin-top: 40px;
    display: flex;
    justify-content: end;
    background-color: #00FF88;
    padding: 7px 15px;
    border-radius: 10px;
}
/* new button hover effect */
.new:hover{
    cursor: pointer;
    background-color: #31b779;
    color: aliceblue;
    font-weight: bold;
}
.hero-text h1{
    font-size: 3.8rem;
    font-weight: 800px;
    color: #ffffff;
    margin-top: 40px;
}
.hero-text p{
    color: rgba(255, 255, 255, 0.86);
    margin-top: 8px;
}
.hero-btn-container{
    display: flex;
    gap: 10px;
    margin: 0 97px;
}
.second-btn{
    width: 201px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 7px 12px;
    border-radius: 10px;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8 );
    font-weight: 600;
    color: #ffffff;
    margin-top: 24px;
}
/* spotify button hover effect added */
.second-btn:hover{
    background: linear-gradient(to right, #9100F8, #F7E93F, #FB09B4) ;
    cursor: pointer;
    padding: 6px 10px;
}

.listen{
    margin-bottom: 10px;
    /* border: 3px solid red; */
}
.third-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 7px 29px;
    border-radius: 10px;
    margin-top: 24px; 
    background-color: #1A0B2E;
    border: 1px solid #00FF88;
}
/* third button hover effect */
.third-btn:hover {
    cursor: pointer;
    background-color:#311951 ;
    width: 135px;
    font-weight: bold;
}
.third-btn p{
    font-weight: 600;
    color: #00FF88;
}
/* hero section end */





/* ................................................................................................. */
/* main ratting section start*/

#main{
    max-width: 1600px;
    background-color: #1A0B2E;
    margin: 0 auto;
    padding-top: 1px;
}
.main-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
.main-text h1{
    font-weight: bold;
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 16px;
}
.main-text p{
    color: rgba(255, 255, 255, 0.86);
    line-height: 20px;
}
.main-text span{
    margin-top: 20px ;
}
.main-rating{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 160px;
}
.main-card{
    max-width: 240px;
    gap: 80px;
    margin-bottom: 50px;
}
.main-card h3{
    font-size: 3rem;
    font-weight: 900px;
    color: #00FF88;
}
.main-card p{
    margin-top: 16px;
    color: rgba(255, 255, 255, 0.86);
}
/* main ratting end*/





/* .......................................................................................... */
/* grid card  section start*/

#music{
    max-width: 1600px;
    background-color: #1A0B2E;
    margin: 0 auto;
    padding-top: 1px;
}
.music-text{
    text-align: center;
    margin-top: 120px;
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
}
.music-container-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    gap: 30px;
}
.music-card-1{
    grid-row: span 2;
    background-color: #351165;
    border-radius: 30px;
    padding:  30px;
}
.music-card-2{
    grid-column: span 2;
    background-color: #351165;
    border-radius: 30px;
    padding:  30px;
}
.music-card-3{
    grid-column: span 2;
    background-color: #351165;
    border-radius: 30px;
    padding:  30px;
}
.music-card-4{
    grid-column: span 2;
    background-color: #351165;
    border-radius: 30px;
    padding:  30px;
}
.music-card-5{
    background-color: #351165;
    border-radius: 30px;
    padding:  30px;
}
.music-card-1 img{
    margin-top: 90px;
}
.music-card-1 h4, .music-card-2 h4, .music-card-3 h4, .music-card-4 h4, .music-card-5 h4 {
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5rem;
    margin: 16px 0;
}
.music-card-1 p, .music-card-2 p, .music-card-3 p, .music-card-4 p, .music-card-5 p{
    color: rgba(255, 255, 255, 0.86);
    line-height: 24px;
}

/* music card hover effect */
.music-card-1:hover, .music-card-2:hover, .music-card-3:hover, .music-card-4:hover, .music-card-5:hover{
    background-color:#471c80 ;
    cursor: pointer;
}
/* grid card end*/



/* .............................................................................. */
 /* content section start */

 #content{
    max-width: 1600px;
    height: 1276px;
    background-color: #1A0B2E;
    margin: 0 auto;
    padding-top: 1px;
}
.content-container{
    max-width: 1200px;
    margin: 0 auto;
}
.content-head{
    margin-top: 120px;
}
.content-head h4{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}
.main-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}
.content-card{
    background-color: #250D44;
    border-radius: 10px;
    padding: 10px;
}
.content-card iframe{
    border-radius: 8px;
}
.content-card h5{
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 20px;
}
.content-first-text{
    color: rgba(255, 255, 255, 0.86);
    line-height: 24px;
    margin-top: 12px;
    padding: 3px;
}
.you-tube-min{
    color: #00FF88;
    margin-top: 14px;
    margin-bottom: 14px;
}
.content-text{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
}
.content-text h4{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 40px;
}
.content-host{
    display:flex ;
    background-color: #351165;
    border-radius: 10px;
}
.host-image{
    padding: 40px;
}
.host-info{
    margin: auto 0;
}
.host-info h5{
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
}
.host-info p{
    color: rgba(255, 255, 255, 0.86);
    line-height: 24px;
    margin-bottom: 16px;
}
.host-content-image{
    display: flex;
    height:40px;
    width: 40px;
     gap: 10px;
}
/* content card mouse hover */
.content-card:hover{
    cursor: pointer;
    background-color: #2f194c;
}
/* content end */



/* ............................................................................................... */
/* footer section  */

footer{
    max-width: 1600px;
    min-height: 412px;
    margin: 0 auto;
    background-image: url(../image/footer-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.footer-container{
    text-align: center;
}
.footer-icon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 32px;
    margin-left: 70px;
    gap: 25px;
}

.footer-icon-container-2{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 32px;
}
.footer-icon-container-2 p{
    color: rgba(255, 255, 255, 0.86);
    
}
.footer-end p{
    color: rgba(255, 255, 255, 0.86);  
    
}

/* footer icon mouse hover cursor pointer */
.footer-icon:hover{
    cursor: pointer;
}
/* ................................................................................... */


